In [1]:
# import the modules
import pandas as pd
from config import db_password
from sqlalchemy import create_engine

# SQLAlchemy connectable
cnx = create_engine(f'postgresql://postgres:{db_password}@127.0.0.1:5432/chicago_crime').connect()

# table named 'crime_data' will be returned as a dataframe.
df = pd.read_sql_table('chicago_crime_master', cnx)
df.head()

,ID,Primary_Type,Violence_Status,Description,Location_Description,Arrest,Community_Area,Latitude,Longitude,Date,Time,Average_Wind_Speed,Average_Temperature,Fog_Ice_Freezing_Fog,Thunder,Smoke_or_Haze,Community_Name
0,11555945,MOTOR VEHICLE THEFT,NON-VIOLENT,AUTOMOBILE,STREET,False,61.0,41.795512,-87.651271,2019-01-01,15:20:00,7.61,31.0,1.0,NaN,NaN,New City
1,11556016,DECEPTIVE PRACTICE,NON-VIOLENT,FINANCIAL IDENTITY THEFT OVER $ 300,"VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER...",False,6.0,41.942727,-87.640166,2019-01-01,02:00:00,7.61,31.0,1.0,NaN,NaN,Lake View
2,11553355,CRIMINAL DAMAGE,NON-VIOLENT,CRIMINAL DEFACEMENT,COMMERCIAL / BUSINESS OFFICE,False,5.0,41.937637,-87.688799,2019-01-01,09:30:00,7.61,31.0,1.0,NaN,NaN,North Center
3,11553003,BATTERY,VIOLENT,AGGRAVATED: OTHER DANG WEAPON,"VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER...",False,69.0,41.765004,-87.625500,2019-01-01,04:33:00,7.61,31.0,1.0,NaN,NaN,Greater Grand Crossing
4,11553357,OTHER OFFENSE,NON-VIOLENT,GUN OFFENDER: ANNUAL REGISTRATION,STREET,True,43.0,41.758999,-87.565468,2019-01-01,17:27:00,7.61,31.0,1.0,NaN,NaN,South Shore